<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Atlanta Gardens, Farms, Orchards</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<html>
    <style>
    	#subtitle {
    		margin-left: 100px;
    		margin-top: 50px;
    	}

    	#title {
    		margin-top: 20px;
    	}

/*    	.dropdown-toggle {
    		align-self: left;
    	}*/

  /*  	#sortButton {
    		transform: rotate(45deg);
    		-webkit-transform: rotate(45deg);
    	}*/
    	

    </style>

    <body>
        <h1 id="title" class="h3 mb-3 font-weight-normal text-center">Welcome <b>Visitor5</b></h1>
    	<h3 id="subtitle" class="h3 mb-2 font-weight-normal">All public, validated properties:</b></h1>
    	<table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Name <button class="btn dropdown-toggle float-right"></button></th>
                  <th scope="col">Address</th>
                  <th scope="col">City</th>
                  <th scope="col">Zip</th>
                  <th scope="col">Size</th>
                  <th scope="col">Type</th>
                  <th scope="col">Public</th>
                  <th scope="col">Commercial</th>
                  <th scope="col">ID</th>
                  <th scope="col">Visits</th>
                  <th scope="col">Avg. Rating</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Omar</td>
                <td>Spring Street SW</td>
                <td>Atlanta</td>
                <td>30308</td>
                <td>0.5</td>
                <td>Garden</td>
                <td>True</td>
                <td>False</td>
                <td>00320</td>
                <td>20</td>
                <td>3.6</td>
              </tr>
              <tr>
                <td scope="row">Dennis</td>
                <td>Spring Street SW</td>
                <td>Atlanta</td>
                <td>30308</td>
                <td>0.5</td>
                <td>Garden</td>
                <td>True</td>
                <td>False</td>
                <td>00320</td>
                <td>20</td>
                <td>3.6</td>
              </tr>
              <tr>
                <td scope="row">Prabhath</td>
                <td>Spring Street SW</td>
                <td>Atlanta</td>
                <td>30308</td>
                <td>0.5</td>
                <td>Garden</td>
                <td>True</td>
                <td>False</td>
                <td>00320</td>
                <td>20</td>
                <td>3.6</td>
              </tr>
            </tbody>
        </table>
    </body>

</html>
